*{
    padding: 0px;
    margin: 0px
}

.content{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding:70px;
    background-color: #dde1e7;
}
.neumorphism{
    height: 550px;
    width: 300px;
    border-radius: 40px;
    background-color: #dde1e7;
    box-shadow: 13px 13px 20px #ffffff73, 
                -13px -13px 20px rgba(94, 104, 121, .288);
    
}
.head{
    padding-top: 20px;
}
.logo{
    background-image: url(img/partyyyy.jpeg);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:0 auto;
    /* logo shadow */
    box-shadow: 0px 0px 2px #f5f5f5,
    /* offset */
                0px 0px 0px 5px #dde1e7,
    /* bottom right */
                8px 8px 15px #a7aaaf,
    /* top left */
                -8px -8px 15px #ffffff73 ;
}
.sub-title{
    font-family: cursive;
    letter-spacing: 0.5px;
    border-bottom: solid 1px rgba(94, 104, 121, .288);
    padding: 0px !important;
}

.username h6{
    font-size: 10px;
}
.form-control:focus{
    border-color:#CCC;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
     background: none;
    font-size: 18px;
    color: #555;
}
/* .form-control{
    -webkit-appearance: none;
    border: none;
    /* outline: 0px;
    outline: none !important; 
    background: none;
    font-size: 18px;
    color: #555;
    /* padding: 20px 10px 20px 5px; *
} */
.username-input, .password-input, .select-input{
    margin-bottom: 2px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #ffffff73,
                inset -8px -8px 8px rgba(94, 104, 121, .288) ;
    background: none;
}